body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$length-square: 40px;
$margin-square: 1px;

.App {
  display: flex;
  margin-top: 10%;
}

.game-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.active {
  color: red;
  transform: scale(1.5);
  margin-right: 6px;
  display: inline-block;
  transition: 0.2s;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: ($length-square + $margin-square * 2) * 3;
  height: ($length-square + $margin-square * 2) * 3;
  margin-right: 50px;
}

.square {
  font-size: 30px;
  color: #444;
  width: $length-square;
  height: $length-square;
  margin: $margin-square;
  border: 1px solid #333;
}
